/* styles.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    font-size: 1.2em;
    margin: 20px 0;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 30%;
    height: auto;
    border-radius: 8px;
}